/*****************************/
/* BELOW 1344px / 16px = 84em 
/******************************/
@media (max-width: 84em) {
  .about-content {
    padding: 6.4rem 2.4rem;
  }
  .testimonial-content {
    padding: 9.6rem;
  }

  .testimonial-img-content {
    padding-left: 0;
  }

  .gallery {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .medium-img {
    width: 100%;
    height: 100%;
  }
}
/*****************************/
/* BELOW 1200px / 16px = 75em 
/******************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
/****************************************/
/* BELOW 944px / 16px = 59em  (Tablets)*/
/****************************************/
@media (max-width: 59em) {
  /*************general****************/
  .heading-primary {
    font-size: 5.2rem;
  }

  .grid-2-column,
  .grid-3-column {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-6-column,
  .grid-4-column {
    display: grid;
    grid-template-columns: repeat(3, 15%);
    gap: 2.4rem;
  }

  .sm-text {
    font-size: 1.8rem;
  }
  /************section header****************/
  .btn-mobile-nav {
    display: block;
  }

  .nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-link:link,
  .nav-link:visited {
    font-size: 3rem;
  }
  /************section hero ***********************/

  .hero-container {
    display: flex;
    flex-direction: column;
  }

  .hero-content {
    padding: 0 8rem 0 0;
    margin-bottom: 6.4rem;
  }

  .hero-img {
    width: 50%;
    align-self: flex-end;
  }

  .input-box {
    width: 80%;
    padding: 1.8rem;
  }

  .feedback strong {
    font-size: 3.2rem;
  }

  /*-- ------------section how it work ------------- -- */

  .how-content {
    flex-direction: column;
    align-items: center;
  }

  .section-how h2 {
    text-align: center;
    font-size: 3.2rem;
  }

  .feature {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }

  .about-container {
    display: flex;
  }

  .about-content {
    padding: 6.4rem 8rem;
  }

  .about-content .subheading {
    text-align: center;
  }

  .img-about-content {
    width: 0;
    height: 0;
    background-image: none;
    margin-left: 0;
  }

  .about-detail {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .detail-content h3 {
    font-size: 2rem;
  }
  /****************wherever-need *******************************/
  .wherever-need-content .heading-secondary {
    width: 60%;
  }

  .box-features {
    margin-bottom: 4.4rem;
  }

  .box-feature {
    width: 50rem;
  }

  .tags {
    flex-direction: column;
  }

  .tag {
    width: 40rem;
  }

  /*********** section-work**************/
  .video-description {
    margin-left: 0;
  }

  /*****************section download*****************************/
  .download-content {
    width: 80%;
  }

  .download-content .heading-secondary {
    font-size: 3.2rem;
  }
  /********** section-pricing*********/
  .plan-price .dollar {
    left: -3%;
  }

  .pricing-plan-second::after {
    right: -8%;
  }
  
  .pricing-plan-second,
  .pricing-plan-first {
    padding-bottom: 9.6rem;
  }

  /** section pricing  testimonial**/
  .testimonial-content {
    flex-direction: column;
    text-align: center;
  }

  .testimonial-img-content {
    margin-bottom: 3.2rem;
  }
  .testimonial-icon {
    display: none;
  }

  .grid-4-column .tag-sponsor:last-child {
    grid-column: 2;
  }

  /**************section footer********************/

  .nav-cols {
    flex-direction: column;
  }

  .section-footer .container {
    text-align: center;
  }

  .address {
    justify-content: center;
  }

  .second-footer {
    display: flex;
    flex-direction: column;
  }

  .btn-ios-and {
    justify-content: center;
  }
}
/*****************************/
/* BELOW 704px / 16px = 44em 
/******************************/
@media (max-width: 44em) {
  html {
    font-size: 40%;
  }
  .container {
    padding-left: 4.4rem;
    padding-right: 4.4rem;
  }
  .plan-price .dollar {
    left: -5%;
  }

  .tag-sponsor {
    padding: 1.4rem;
  }

  .wherever-need-features {
    padding: 0;
  }

  .grid-6-column,
  .grid-4-column {
    grid-template-columns: repeat(3, 20%);
  }
}
