/* start variables */
:root {
  --main-color: #ff3e66;
  --secondary-color: #0e1133;
  --section-color: #eef1f6;
  --grey-color: #505056;
  --light-grey-color: #7f7f82;
}
/* end variables */

/***************section  header ****************/
.section-header {
  padding-top: 2.4rem;
  background-color: var(--section-color);
  padding-bottom: 9.6rem;
}

.header {
  display: flex;
  align-items: center;
  column-gap: 8rem;
  margin: 0 auto;
}

.logo {
  height: 2.6rem;
}

.nav-list {
  display: flex;
  list-style: none;
  column-gap: 4.8rem;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--grey-color);
}

.nav_icon {
  width: 1.2rem;
  height: 1.2rem;
}

.btn-start {
  width: 14rem;
  height: 4.5rem;
  border: none;
  background-color: var(--main-color);
  color: #fff;
}
/*********************************/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  margin-left: 0.8rem;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}
/*******************Section Hero ********************************/
.section-hero {
  background-color: var(--section-color);
  padding-left: 9.6rem;
  padding-top: 8rem;
  margin-bottom: 8rem;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

.hero-container {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
}

.hero-text strong {
  font-size: 6.2rem;
  line-height: 1.05;
  letter-spacing: -0.5px;
}

.input-box {
  width: 65%;
  height: 9%;
  background: #fff;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
  font-family: inherit;
  color: inherit;
  border-radius: 3rem;
  border-left: 3px solid var(--main-color);
  padding-right: 2rem;
}

.input-box input {
  border: none;
  font-size: 1.6rem;
  width: 50%;
}

.icon-mail,
.icon-flesh-right {
  width: 1.8rem;
  height: 1.8rem;
}
.icon-mail {
  color: var(--light-grey-color);
  margin-left: 2rem;
}

.link-flesh-right {
  display: block;
  margin-left: auto;
}
.icon-flesh-right {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--main-color);
}

.img-hero {
  width: 100%;
}

.input-box input::placeholder {
  color: var(--light-grey-color);
}
.hero-customers {
  display: flex;
  align-items: center;
  margin-top: 3.2rem;
  gap: 3.2rem;
}

.hero-customers-img img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  border: 3px solid #fff;
  margin-right: -1.6rem;
}

.feedback strong {
  color: var(--secondary-color);
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
}

/******************Section how  **************************/
.section-how {
  margin-bottom: 8rem;
}

.section-how h2 {
  margin-bottom: 0;
}

.how-content {
  text-align: center;
  justify-content: space-between;
}

.btn-view {
  width: 17.5rem;
  height: 4.5rem;
  border: 2px solid var(--section-color);
  background-color: #fff;
}

.how-content .Medium-text {
  margin-top: 1rem;
  color: var(--light-grey-color);
}

.features {
  gap: 3.2rem;
  margin-top: 3.2rem;
}
.feature {
  border: 1px solid var(--section-color);
  padding: 4.8rem;
  border-radius: 1rem;
}

.feature-icon {
  width: 2.4rem;
  height: 2.4rem;
  padding: 1.4rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
  color: #fff;
}

.feature-title {
  color: var(--grey-color);
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}
.feature .Medium-text,
.feature-name {
  color: var(--light-grey-color);
}

.feature-name {
  font-size: 1.6rem;
  font-weight: 500;
}

.about-container {
  max-width: 130rem;
  margin-top: 4.8rem;
  background-color: var(--section-color);
}

.img-about-content {
  width: 60%;
  height: 45rem;
  background-image: url(../images/about-thumb.png);
  margin-left: 1.2rem;
  background-repeat: no-repeat;
}

.about-content {
  padding: 6.4rem 9.6rem;
}

.about-detail {
  display: flex;
  gap: 3.2rem;
}

.detail-content h3 {
  color: var(--secondary-color);
}

.detail-content .sm-text,
.about-content .Medium-text {
  color: var(--light-grey-color);
}

.detail-content .sm-text {
  margin-left: 4rem;
}

.about-icon {
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.3rem;
  border-radius: 50%;
  color: #fff;
  background-color: #32c36a;
}

/************************ section wherever-need  ********************************/
.section-wherever-need {
  background-color: var(--secondary-color);
  color: #fff;
  margin-bottom: 8rem;
  height: 100%;
}

.section-wherever-need .container {
  padding-bottom: 6.4rem;
}
.wherever-need-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wherever-need-content .heading-secondary {
  padding-top: 8rem;
  width: 35%;
}

.wherever-need-features {
  gap: 3.2rem;
  align-items: center;
  justify-items: center;
  padding: 3.2rem;
}

.box-features {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.box-feature {
  width: 41rem;
  height: 12rem;
  border: 1px solid var(--grey-color);
  padding: 3.2rem 3.2rem;
  border-radius: 0.8rem;
}

.icon-button-color {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
}

.light-pink::before,
.light-green::before,
.light-blue::before {
  content: "";
  display: block;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.light-pink::before {
  background-color: #ff3e6535;
}

.light-blue::before {
  background-color: #2fadfc35;
}
.light-green::before {
  background-color: #32c36a25;
}

.box-feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  margin-left: 1.8rem;
}

.box-feature .sm-text {
  margin-left: 3rem;
  color: var(--light-grey-color);
  font-weight: 500;
}

.wherever-need-img {
  width: 100%;
}
/*******************section  work ***************************/

.section-work {
  margin-bottom: 8rem;
}

.section-work .Medium-text {
  color: var(--light-grey-color);
}

.tags {
  gap: 4.8rem;
  margin-top: 9.6rem;
}
.tag {
  width: 20rem;
  height: 20rem;
  background-color: #fff;
  text-align: center;
  margin: auto;
  padding: 4.2rem 3.2rem;
  border-radius: 1rem;
}

.gallery-content {
  margin-top: 9.6rem;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}

.gallery-title {
  color: var(--secondary-color);
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.gallery-content .Medium-text {
  color: var(--grey-color);
}

.icon-video {
  width: 8rem;
  height: 8rem;
  padding: 3.2rem;
  border-radius: 50%;
  color: var(--main-color);
  background-color: #fff;
  border: 2px solid var(--section-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-video ion-icon {
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-video {
  position: relative;
  /*  overflow: hidden; */
}
.video-description {
  margin-left: 6.4rem;
}

.video-description,
.gallery-icon {
  margin-top: 4.4rem;
}

.gallery-icon {
  justify-content: end;
}

.btn-get {
  width: 16rem;
  height: 5rem;
  margin-top: 1.6rem;
}

.flesh-icon,
.btn-get {
  background-color: #fff;
  border: 2px solid var(--section-color);
}

.flesh-icon {
  width: 2.4rem;
  height: 2.4rem;
  padding: 1.2rem;
  border-radius: 50%;
  margin-right: 1rem;
  color: var(--grey-color);
}

/***************************section download ***********************************/
.section-download {
  background-color: var(--section-color);
  margin-bottom: 8rem;
}

.section-download .container {
  padding-bottom: 6.4rem;
}
.download-content {
  flex-direction: column;
  width: 38%;
  padding-top: 12.8rem;
  margin-bottom: 6.4rem;
}

.download-content .heading-secondary {
  width: 97%;
  margin-top: 0;
  margin-bottom: 0;
}

.download-content .Medium-text {
  color: var(--light-grey-color);
}

.btn-download-ios,
.btn-download-and {
  width: 19rem;
  height: 7rem;
  margin-top: 1.6rem;
  border-radius: 1.2rem;
  font-size: 1.8rem;
  justify-items: center;
  align-items: center;
  padding: 1rem;
}
.btn-download-ios {
  margin-right: 2rem;
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
}

.btn-download-ios strong,
.btn-download-and strong {
  font-size: 2rem;
}

.btn-download-ios strong {
  color: #fff;
}
.btn-download-and {
  background-color: #fff;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}
.icon-ios,
.icon-and {
  width: 4rem;
  height: 4rem;
}

/*************************section pricing *************************************/
.section-pricing {
  margin-bottom: 9.6rem;
}
.pricing-content {
  text-align: center;
}

.btn-pricing {
  width: 17rem;
  height: 4rem;
  margin: 4.8rem auto;
  background-color: #fff;
  border: 2px solid var(--section-color);
  gap: 2.4rem;
  align-items: center;
}
.btn-month {
  background-color: var(--main-color);
  border: none;
  color: white;
  width: 8rem;
  height: 3rem;
  text-align: center;
  padding-top: 0.8rem;
  margin-left: 0.4rem;
}
.plan-name {
  font-size: 2rem;
  font-weight: 600;
  line-height: 0.75px;
  margin-bottom: 3.2rem;
}

.plan-header {
  margin-bottom: 2.4rem;
  border-bottom: 1px solid #dddfe2;
}
.plan-header .sm-text {
  margin-bottom: 2rem;
  color: var(--light-grey-color);
}
.plan-price {
  font-size: 4.4rem;
  font-weight: 600;
  position: relative;
  margin-left: 1.6rem;
}

.plan-price span {
  font-size: 1.6rem;
  font-weight: 400;
  margin-right: 0.8rem;
}

.plan-price .dollar {
  font-size: 2.4rem;
  font-weight: 400;
  margin-right: 0.8rem;
  position: absolute;
  top: 15%;
  left: -8%;
}

.grey-word {
  color: var(--light-grey-color);
}

.pricing-plan-second,
.pricing-plan-first,
.pricing-plan-last {
  width: 92%;
  border-radius: 8px;
  border: 2px solid #eff1f4;
  margin-bottom: 3.2rem;
}

.pricing-plan-second,
.pricing-plan-first {
  height: 80%;
  padding: 4rem;
}

.pricing-plan-last {
  padding: 6rem;
}

.pricing-plan-second {
  overflow: hidden;
  position: relative;
  border-top: 4px solid var(--main-color);
  background-color: #fff;
}

.pricing-plan-second::after {
  content: "Most Popular";
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  background-color: #2a6df5;
  border-radius: 30rem;
  padding: 0.8rem 8rem 0.8rem 2rem;
  position: absolute;
  top: 6%;
  right: -18%;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-bottom: 2rem;
  list-style: none;
}

.list-item {
  font-size: 1.8rem;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.3rem;
  border-radius: 50%;
  background-color: #eef4fe;
  color: #3d7cfa;
  font-weight: 700;
}

.pricing-plan-second .btn-get {
  color: #fff;
}
/*******************************************************/
.testimonial {
  /*   background-image: url(/images/5559852.jpg); */
  background-color: #2a6df5;
  color: #fff;
  margin-top: 6.4rem;
}

.testimonial-content {
  padding: 9.6rem 12.8rem;
  /*  gap: 16rem; */
}

.testimonial-img-content {
  padding-left: 9.6rem;
  width: 100%;
}
.testimonial-img {
  width: 15rem;
  border-radius: 50%;
}

.start-icon {
  margin-top: 1.4rem;
  margin-bottom: 0.8rem;
  padding-left: 2.4rem;
}

.testimonial-icon-start {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 0.4rem;
}

.testimonial-review {
  padding-left: 3.8rem;
}

.testimonial-review,
.testimonial-job {
  font-size: 1.4rem;
  color: var(--section-color);
}

.testimonial-text {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 3.2rem;
  color: var(--section-color);
  font-weight: 500;
}

.testimonial-name {
  font-size: 1.8rem;
  color: inherit;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.flesh-testimonial {
  width: 2.2rem;
  height: 2.2rem;
  padding: 1.2rem;
  border-radius: 50%;
  border: 1px solid #a8a9ab;
  margin-right: 1rem;
  color: #fff;
}

.testimonial-icon {
  grid-column: -1;
}

/*******************************************/

.sponsor-content {
  width: 50rem;
  text-align: center;
  margin: 8rem auto 4.8rem auto;
}

.sponsor-content .large-text {
  margin-top: 0;
  color: var(--grey-color);
}
.tags-sponsors {
  justify-content: center;
  align-items: center;
  margin-top: 3.2rem;
}

.tag-sponsor {
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  padding: 2.6rem 3.2rem;
  border-radius: 1rem;
  justify-self: center;
}

/**********************************************************************/
.section-footer {
  background-color: var(--section-color);
  /* position: relative; /*for pink button
  overflow: hidden; */
}

.first-footer {
  gap: 12.8rem;
  border-bottom: 2px solid #dddfe2;
  padding: 8rem 0;
}

.footer-name {
  font-size: 1.4rem;
  color: #4b2434;
  font-weight: 500;
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.fa {
  padding: 1.2rem;
  font-size: 1.8rem;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 0.8rem;
}

.fa-facebook,
.fa-twitter,
.fa-pinterest,
.fa-linkedin {
  background: #fff;
  color: #333;
}

.footer-heading {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.nav-cols {
  gap: 8rem;
}
.footer-nav {
  list-style: none;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--grey-color);
  transition: all 0.3s;
  font-weight: 500;
}

.footer-link:hover,
.footer-link:active {
  color: var(--main-color);
}

.contacts a,
.address a {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--grey-color);
  text-decoration: none;
}

.contacts p {
  margin-bottom: 0.8rem;
}

.icon-contacts {
  width: 1.8rem;
  height: 1.8rem;
  color: #2d71fa;
  margin-right: 1rem;
}

.btn-ios-and {
  gap: 1.4rem;
}
.btn-footer-ios,
.btn-footer-and {
  height: 4rem;
  margin-top: 2.4rem;
  font-size: 1.4rem;
  justify-items: center;
  align-items: center;
  padding: 1.6rem;
  border-radius: 0.5rem;
}

.btn-footer-ios {
  background-color: #fff;
  border: none;
  width: 18rem;
}

.btn-footer-ios strong,
.btn-footer-and strong {
  font-size: 1.4rem;
}

.btn-download-ios strong {
  color: #fff;
}
.btn-footer-and {
  border: 1px solid #dddfe2;
  color: #0e1133;
  width: 20rem;
}

.icon-ios-footer {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.8rem;
}
.icon-and-footer {
  width: 2.1rem;
  height: 2rem;
  margin-right: 0.4rem;
}

.copyright {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--grey-color);
  grid-column: -1;
  margin-top: 3.2rem;
}

.second-footer {
  padding: 1.8rem 0 0 0;
}
/*************************************************/
.section-end {
  background-color: var(--section-color);
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 4.4rem 4.4rem 0;
}

.btn-end {
  width: 4.2rem;
  height: 4.2rem;
  background-color: rgba(255, 62, 101, 0.385);
  border: none;
  font-size: 2.6rem;
  cursor: pointer;
  border-radius: 0.8rem;
  padding-top: 0.5rem;
  grid-column: -1;
}
